<template>
  <AuthLayout>
    <template #form>
      <el-form
        ref="formRef"
        :rules="formRules"
        :model="form"
        label-position="top"
      >
        <el-form-item label="Email">
          <el-input v-model="form.email" />
        </el-form-item>
        <el-form-item label="Password">
          <el-input v-model="form.password" show-password type="password" />
        </el-form-item>
      </el-form>
    </template>
    <template #button>
      <el-button type="primary" @click="login">Log In</el-button>
    </template>
  </AuthLayout>
</template>

<script setup>
import AuthLayout from '../components/AuthLayout.vue'
import { ref } from 'vue'
import { api } from '../api/api.js'
import { useRouter } from 'vue-router'
import { useStore } from '../store.js'
import { ElMessage } from 'element-plus'

const router = useRouter()
const store = useStore()

const form = ref({
  email: '',
  password: ''
})

const formRef = ref()

const formRules = {
  email: [
    { required: true, message: 'Please input email', trigger: 'blur' },
    { type: 'email', message: 'Please input a valid email', trigger: 'blur' }
  ],
  password: [
    { required: true, message: 'Please input password', trigger: 'blur' }
  ]
}

const login = () => {
  formRef.value.validate(async (valid) => {
    if (!valid) {
      return
    }

    const { data, error } = await api.auth.signInWithPassword(
      form.value.email,
      form.value.password
    )

    if (error) {
      ElMessage.error(error.message)
    } else {
      store.user = data

      await router.push({ name: 'main' })
    }
  })
}
</script>

<style scoped></style>
