<template>
  <main>
    <header class="flex flex-wrap items-center justify-between mb-4">
      <el-badge type="primary" :value="todos.length">
        <h1>{{ route.name === 'all-tasks' ? 'All todos' : 'My todos' }}</h1>
      </el-badge>
      <section>
        <el-form-item label="Show completed">
          <el-switch v-model="showCompleted" />
        </el-form-item>
      </section>
    </header>

    <section class="mb-4 flex items-center">
      <el-form label-position="top">
        <el-form-item label="Sorting">
          <el-select v-model="ascending">
            <el-option label="New at top" :value="false" />
            <el-option label="Old at top" :value="true" />
          </el-select>
        </el-form-item>
      </el-form>
    </section>

    <el-skeleton
      class="w-full flex flex-col gap-y-4"
      :loading="isFirstLoading"
      animated
      :count="4"
    >
      <template #template>
        <section class="flex gap-x-4">
          <el-skeleton-item class="w-8 h-8" variant="circle" />
          <section class="flex flex-1 flex-col gap-y-1">
            <el-skeleton-item class="w-full" variant="h1" />
            <el-skeleton-item class="w-full" variant="text" />
          </section>
        </section>
      </template>

      <template #default>
        <TodoCreationItem class="mb-4" />
        <el-empty
          v-if="!todos.length && !isFirstLoading"
          description="No todos"
        />
        <TodoList v-else v-loading="isLoading" :todos="todos" />
      </template>
    </el-skeleton>
  </main>
</template>

<script setup>
import TodoList from '../components/TodoList.vue'
import { computed, provide, ref, watch } from 'vue'
import { api } from '../api/api.js'
import TodoCreationItem from '../components/TodoCreationItem.vue'
import { useStore } from '../store.js'
import { useRoute } from 'vue-router'
import { ElMessage } from 'element-plus'

const showCompleted = ref(false)

const isLoading = ref(false)
const isFirstLoading = ref(true)

const allTodos = ref([])
const route = useRoute()
const store = useStore()

const ascending = ref(false)

const todos = computed(() => {
  if (showCompleted.value) {
    return [...allTodos.value].sort((a, b) => {
      return +a.is_completed - +b.is_completed
    })
  }
  return allTodos.value.filter((todo) => todo.is_completed === false)
})

const fetchTodos = async () => {
  if (!isFirstLoading.value) {
    isLoading.value = true
  }

  const { data } = await api.todos.getTasks(
    ascending.value,
    route.name === 'all-tasks' ? null : store.user.id
  )

  if (data) {
    allTodos.value = data
  }

  setTimeout(() => {
    isFirstLoading.value = false
  }, 300)

  isLoading.value = false
}

watch([ascending, () => route.name], fetchTodos)

const updateTodoField = async (todoId, fieldName, fieldValue) => {
  todos.value.find((todo) => todo.id === todoId)[fieldName] = fieldValue
}

/**
 * @param todoId
 * @param {Object.<string,string>} data
 * @returns {Promise<void>}
 */
const updateTodoData = async (todoId, data) => {
  const { error } = await api.todos.updateTodo(todoId, data)

  if (error) {
    return { error }
  }

  Object.entries(data).forEach(([key, value]) => {
    updateTodoField(todoId, key, value)
  })
}

provide('updateTodoData', updateTodoData)

const createTodo = async (todo) => {
  const { data, error } = await api.todos.create(todo)

  if (data && !error) {
    allTodos.value.unshift(...data)
  }

  return { data, error }
}

provide('createTodo', createTodo)

const deleteTodoItem = async (todoId) => {
  await api.todos.deleteTodo(todoId)

  ElMessage.success('Todo deleted successfully')

  allTodos.value = allTodos.value.filter((todo) => todo.id !== todoId)
}

provide('deleteTodoItem', deleteTodoItem)

fetchTodos()
</script>

<style scoped></style>
