<template>
  <AuthLayout is-signup>
    <template #form>
      <el-form
        ref="formRef"
        :rules="formRules"
        :model="form"
        label-position="top"
      >
        <el-form-item prop="email" label="Email">
          <el-input v-model="form.email" />
        </el-form-item>
        <el-form-item prop="password" label="Password">
          <el-input v-model="form.password" show-password type="password" />
        </el-form-item>
        <el-form-item prop="passwordConfirm" label="Password confirm">
          <el-input
            v-model="form.passwordConfirm"
            show-password
            type="password"
          />
        </el-form-item>
      </el-form>
    </template>
    <template #button>
      <el-button type="primary" @click="signUp">Sign Up</el-button>
    </template>
  </AuthLayout>
</template>

<script setup>
import AuthLayout from '../components/AuthLayout.vue'
import { ref } from 'vue'
import { api } from '../api/api.js'
import { ElMessage } from 'element-plus'
import { useStore } from '../store.js'
import { useRouter } from 'vue-router'

const store = useStore()
const router = useRouter()

const form = ref({
  email: '',
  password: '',
  passwordConfirm: ''
})

const validatePasswordConfirm = (_, value, callback) => {
  if (value !== form.value.password) {
    callback(new Error("Passwords don't match"))
  } else {
    callback()
  }
}

/**
 * @type {import('element-plus').FormRules}
 */
const formRules = {
  email: [
    { required: true, message: 'Please input email', trigger: 'blur' },
    { type: 'email', message: 'Please input a valid email', trigger: 'blur' }
  ],
  password: [
    { required: true, message: 'Please input password', trigger: 'blur' },
    {
      min: 6,
      message: 'Password must be at least 6 characters',
      trigger: 'blur'
    }
  ],
  passwordConfirm: [
    {
      required: true,
      message: 'Please input password confirm',
      trigger: 'blur'
    },
    { validator: validatePasswordConfirm, trigger: 'blur' }
  ]
}

const formRef = ref()

const signUp = async () => {
  formRef.value.validate(async (valid) => {
    if (valid) {
      const { data, error } = await api.auth.signUp(
        form.value.email,
        form.value.password
      )

      if (error) {
        ElMessage.error({
          message:
            error.message ||
            error.response?.data?.message ||
            `Unexpected error: ${error}`
        })
      } else {
        store.user = data.user
        ElMessage.success({
          message: 'Successfully signed up'
        })

        await router.push({ name: 'main' })
      }
    }
  })
}
</script>

<style scoped></style>
