<template>
  <div class="mx-auto max-w-[500px] flex flex-col gap-y-2">
    <h1 class="mb-8">{{ title }}</h1>
    <section class="grid gap-y-3">
      <el-button type="primary" plain @click="loginViaGoogle">Google</el-button>
    </section>
    <el-divider />
    <slot name="form" />
    <slot name="button" />
    <button v-if="!isSignup" class="underline self-start text-sm text-gray-400">
      Forgot password?
    </button>
    <p class="mt-2 flex items-center gap-x-1">
      <template v-if="isSignup">
        Already have an account?
        <router-link :to="{ name: 'login' }" class="underline">
          Log In
        </router-link>
      </template>
      <template v-else>
        Don't have an account?
        <router-link :to="{ name: 'register' }" class="underline">
          Register
        </router-link>
      </template>
    </p>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import { api } from '../api/api.js'
import { ElMessage } from 'element-plus'
import { useStore } from '../store.js'
import { useRouter } from 'vue-router'

const props = defineProps({
  isSignup: {
    type: Boolean,
    default: false
  }
})

const store = useStore()
const router = useRouter()

const title = computed(() => {
  return props.isSignup ? 'Sign Up' : 'Log In'
})

const loginViaGoogle = async () => {
  const { data, error } = await api.auth.signInWithGoogle()

  if (error) {
    ElMessage.error(error.message)
  } else {
    store.user = data

    await router.push({ name: 'main' })
  }
}
</script>

<style scoped></style>
