<template>
  <el-dropdown trigger="click">
    <slot name="button">
      <el-button size="small" :type="priorityTypes[priority]">
        Priority {{ priority }}
      </el-button>
    </slot>

    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item
          v-for="(type, priorityNumber) in priorityTypes"
          :key="priorityNumber"
          @click="updatePriority(priorityNumber)"
        >
          <el-button size="small" :type="type">
            P{{ priorityNumber }}
          </el-button>
        </el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>
</template>

<script setup>
defineProps({
  priority: {
    type: Number,
    default: 1
  }
})

const emit = defineEmits({
  'update:priority': null
})

const priorityTypes = {
  1: 'danger',
  2: 'warning',
  3: 'primary',
  4: 'info'
}

const updatePriority = (priority) => {
  emit('update:priority', priority)
}
</script>

<style scoped></style>
