<template>
  <div class="grid gap-y-4">
    <TodoItem
      v-for="todo in todos"
      :key="todo.id"
      :todo="todo"
      class="border-0 border-b border-solid border-opacity-50"
    />
  </div>
</template>

<script setup>
import TodoItem from './TodoItem.vue'

defineProps({
  todos: {
    type: Array,
    default: () => []
  }
})
</script>

<style scoped></style>
