<template>
  <div
    class="grid relative gap-x-4 p-2 shadow"
    :class="isEditing ? 'grid-cols-[32px_1fr]' : 'grid-cols-[32px_1fr_56px]'"
    @keydown.esc="cancelEditing"
  >
    <el-button
      type="info"
      :plain="!todo.is_completed"
      class="group"
      :disabled="store.user.id !== todo.user_id"
      @click="updateStatus"
    >
      <el-icon
        size="24"
        class="opacity-0"
        :class="{
          'group-hover:opacity-100': todo.user_id === store.user.id,
          'opacity-100': todo.is_completed
        }"
      >
        <Check />
      </el-icon>
    </el-button>
    <section class="flex flex-col">
      <template v-if="!isEditing">
        <span
          class="text-xl font-medium"
          :class="{ 'line-through': todo.is_completed }"
          @click="startEditing"
        >
          {{ todo.title }}
        </span>
        <p v-if="todo.description" class="mt-1" @click="startEditing">
          {{ todo.description }}
        </p>
      </template>
      <template v-else>
        <el-input
          ref="titleInput"
          v-model="editableTodo.title"
          placeholder="Title"
          class="w-full"
          @keydown.enter="saveTodo"
        />
        <el-input
          v-model="editableTodo.description"
          placeholder="Description"
          class="w-full mt-1"
          @keydown.enter="saveTodo"
        />
      </template>
      <footer class="mt-1 flex flex-wrap gap-2">
        <PriorityDropdown
          v-if="store.user.id === todo.user_id"
          :priority="todo.priority"
          @update:priority="updatePriority"
        />
        <el-tag v-else type="info"> Priority {{ todo.priority }} </el-tag>
        <el-tag type="info"> Created {{ formattedCreatedDate }} </el-tag>
        <el-tag v-if="todo.user_id === store.user.id" type="warning">
          Your task
        </el-tag>
        <section v-if="isEditing" class="ml-auto">
          <el-button type="danger" @click="cancelEditing">
            <el-icon size="24">
              <Close />
            </el-icon>
          </el-button>

          <el-button type="primary" @click="saveTodo">
            <el-icon size="24">
              <SuccessFilled />
            </el-icon>
          </el-button>
        </section>
      </footer>
    </section>

    <section
      v-if="todo.user_id === store.user.id && !isEditing"
      class="flex flex-col gap-y-2"
    >
      <el-button class="shadow" type="primary" plain @click="startEditing">
        <el-icon size="24">
          <EditPen />
        </el-icon>
      </el-button>
      <el-button type="danger" class="!ml-0" @click="deleteTodo">
        <el-icon size="24">
          <Delete />
        </el-icon>
      </el-button>
    </section>
  </div>
</template>

<script setup>
import {
  Check,
  Close,
  Delete,
  EditPen,
  SuccessFilled
} from '@element-plus/icons-vue'
import { inject, nextTick, ref } from 'vue'
import dayjs from 'dayjs'
import calendar from 'dayjs/plugin/calendar'
import PriorityDropdown from './PriorityDropdown.vue'
import { useStore } from '../store.js'
import { ElMessage, ElMessageBox } from 'element-plus'

dayjs.extend(calendar)

const props = defineProps({
  todo: {
    type: Object,
    required: true
  }
})

const store = useStore()

const getInitialTodoValue = () => {
  return {
    title: props.todo.title,
    description: props.todo.description
  }
}

const resetEditableTodo = () => {
  editableTodo.value = getInitialTodoValue()
}

const editableTodo = ref(getInitialTodoValue())

const formattedCreatedDate = dayjs(props.todo.created_at).calendar()

const updateTodoData = inject('updateTodoData')

const updateStatus = () => {
  updateTodoData(props.todo.id, { is_completed: !props.todo.is_completed })
}

const updatePriority = (priority) => {
  updateTodoData(props.todo.id, { priority: priority })
}

const isEditing = ref(false)
const titleInput = ref()

const startEditing = async () => {
  if (store.user.id !== props.todo.user_id) {
    return
  }

  isEditing.value = true

  await nextTick()

  titleInput.value.focus()
}

const cancelEditing = () => {
  resetEditableTodo()
  isEditing.value = false
}

const saveTodo = async () => {
  const { error } =
    (await updateTodoData(props.todo.id, editableTodo.value)) ?? {}

  if (error) {
    if (error.code === '23514') {
      ElMessage.error('Title must be longer')
    } else {
      ElMessage.error(`Failed to save TODO. ${error.message}`)
    }
    return
  }

  ElMessage.success('TODO saved')

  isEditing.value = false
}

const deleteTodoItem = inject('deleteTodoItem')

const deleteTodo = () => {
  ElMessageBox.confirm('Are you sure?', 'Warning', {
    confirmButtonText: 'Delete Todo',
    cancelButtonText: 'Cancel',
    type: 'warning'
  })
    .then(() => {
      deleteTodoItem(props.todo.id)
    })
    .catch(() => {})
}
</script>

<style scoped></style>
