<template>
  <div
    v-if="isCreationInProgress"
    class="px-2 py-2 rounded border border-secondary-orange-light-5 border-opacity-50 group focus-within:border-opacity-100 focus-within:border-primary-orange"
    @keydown.enter="create"
    @keydown.esc="cancel"
  >
    <el-input v-model="form.title" class="mb-1" placeholder="Task name" />
    <el-input
      v-model="form.description"
      type="textarea"
      resize="none"
      rows="3"
      class="mb-2"
      placeholder="Description"
    />
    <PriorityDropdown v-model:priority="form.priority" />
    <el-divider />
    <section class="flex items-center justify-end">
      <el-button type="info" @click="cancel">Cancel</el-button>
      <el-button type="primary" @click="create">Add task</el-button>
    </section>
  </div>
  <div
    v-else
    role="button"
    class="cursor-pointer grid grid-cols-[32px_1fr] gap-x-4 pr-2 py-4 items-center group rounded"
    @mouseenter="isHovered = true"
    @mouseleave="isHovered = false"
    @click="isCreationInProgress = true"
  >
    <el-button type="primary" :plain="!isHovered">
      <el-icon size="24">
        <Plus />
      </el-icon>
    </el-button>
    <p
      class="text-secondary-orange-light-5 group-hover:text-primary-orange-dark-2"
    >
      Add new todo
    </p>
  </div>
</template>

<script setup>
import { Plus } from '@element-plus/icons-vue'
import { inject, ref } from 'vue'
import PriorityDropdown from './PriorityDropdown.vue'
import { useStore } from '../store.js'
import { ElMessage } from 'element-plus'

const store = useStore()

const isHovered = ref(false)

const isCreationInProgress = ref(false)

const initialFormValue = {
  title: '',
  description: '',
  priority: 4,
  user_id: store.user.id
}

const form = ref({
  ...initialFormValue
})

const resetForm = () => {
  form.value = {
    ...initialFormValue
  }
}

const cancel = () => {
  isCreationInProgress.value = false
  resetForm()
}

const createTodo = inject('createTodo')

const create = async () => {
  const { error } = await createTodo({
    ...form.value,
    title: form.value.title.trim()
  })

  if (error) {
    if (error.code === '23514') {
      ElMessage.error('Title must be longer')
    } else {
      ElMessage.error(`Failed to create TODO. ${error.message}`)
    }
    return
  }

  resetForm()
}
</script>

<style scoped></style>
