<template>
  <el-affix>
    <el-header
      height="auto"
      class="flex items-center py-2 justify-between backdrop-blur shadow container"
    >
      <section class="flex flex-wrap items-center gap-x-4 gap-y-2">
        <router-link :to="{ name: 'main' }">
          <el-button class="shadow shadow-gray-500" type="primary">
            <el-icon size="20">
              <HomeFilled />
            </el-icon>
          </el-button>
        </router-link>
        <router-link :to="{ name: 'all-tasks' }">
          <el-button class="shadow shadow-gray-500" type="primary">
            <el-icon size="20">
              <TakeawayBox />
            </el-icon>
          </el-button>
        </router-link>
        <el-dropdown v-if="store.user" trigger="click">
          <section class="flex items-center gap-x-2">
            <el-avatar>
              <el-icon size="24">
                <UserFilled />
              </el-icon>
            </el-avatar>
            {{ store.user.email }}
          </section>

          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item @click="logout">Logout</el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </section>
    </el-header>
  </el-affix>
</template>

<script setup>
import { HomeFilled, TakeawayBox, UserFilled } from '@element-plus/icons-vue'
import { useStore } from '../store.js'
import { useRouter } from 'vue-router'

const store = useStore()
const router = useRouter()

const logout = async () => {
  await store.logout()

  await router.push({ name: 'login' })
}
</script>

<style scoped></style>
