<template>
  <el-container
    v-loading.fullscreen.lock="isLoading"
    element-loading-background="rgba(0, 0, 0, .7)"
    element-loading-text="Loading..."
    class="min-h-screen relative flex flex-col"
  >
    <TopNavBar />

    <el-main v-if="!isLoading" class="flex-1 container">
      <router-view />
    </el-main>
  </el-container>
</template>

<script setup>
import TopNavBar from './components/TopNavBar.vue'
import { useStore } from './store.js'
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { ElMessage } from 'element-plus'

const store = useStore()
const router = useRouter()
const route = useRoute()

const isLoading = ref(true)

const isRouteAvailable = (toRoute) => {
  return store.user || toRoute.meta.isUserFree
}

const fetchUser = async () => {
  await store.fetchUser()
  isLoading.value = false

  if (!store.user && !route.meta.isUserFree) {
    ElMessage.error({
      message: 'Please login first',
      duration: 2500
    })
  }

  router.beforeEach((to, from, next) => {
    if (!isRouteAvailable(to)) {
      ElMessage.warning({
        message: "You don't have access to this page"
      })
      next({ name: 'login' })
    } else {
      next()
    }
  })

  if (!isRouteAvailable(route)) {
    await router.push({ name: 'login' })
  }
}

fetchUser()
</script>

<style>
.el-button--primary:not(.is-plain) {
  @apply bg-primary-orange;
}

.el-button--danger:not(.is-plain) {
  background-color: var(--el-color-danger);
}

.el-button--warning:not(.is-plain) {
  background-color: var(--el-color-warning);
}

.el-button--info:not(.is-plain) {
  background-color: var(--el-button-hover-bg-color);
}
</style>
