@import "./assets/css/fonts.css";

@tailwind base;

@layer base {
  :root {
    --el-color-primary: theme("colors.primary.orange");
    --el-color-primary-dark-2: theme("colors.primary.orange-dark-2");
    --el-color-primary-light-3: theme("colors.secondary.orange");
    --el-color-primary-light-5: theme("colors.secondary.orange-light-5");
  }

  * {
    @apply m-0 p-0 box-border font-sans;
  }

  h1 {
    @apply text-4xl font-medium;
  }

  h2 {
    @apply text-3xl font-medium;
  }

  h3 {
    @apply text-2xl font-medium;
  }
}

@tailwind components;
@tailwind utilities;
